@import "../../../styles/colours.scss";

.nav-link {
    color: $white;
    margin: 8px;

    &:hover {
        color: $white;
        text-decoration: underline !important;
        font-weight: bold !important;
    }
    &.active {
        color: $white;
        text-decoration: underline !important;
        font-weight: bold !important;
    }
}
