@import ".../../styles/colours.scss";

.header {
  background-color: $background-blue;
  display: block;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 76px;
  padding-right: 76px;
}