$white: #ffffff;
$black: #000000;

$background-white: #e5e5e5;
$background-blue: #243b71;
$background-grey: #d1d6e1;

$disabled-border-grey: #D1D6E1;
$disabled-text-grey: #808080;

$orange: #f7b733;

$light-grey: #c4c4c4;
$dark-grey: #7c7c7c;

$error-red: #ff0000;
$success-green: #42ff00;

$purple: #3F2471