@import "../../../styles/colours.scss";

.available-courses {
    .course-list {
        display: flex;
        flex-wrap: wrap;
    }

    .content-wrapper {
        padding: 0
    }

    .course {
        display: flex;
        flex: 1;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        color: $black;

        .course-description {
            flex: 1;
            margin-bottom: 20px;
        }
       
        .course-progress {
            margin-bottom: 20px;

            .progress {
                background-color: $light-grey !important;
                height: 30px;
                border-radius: 20px;
            }

            .progress-bar {
                background-color: $purple !important;
            }
        }
    }
}
