@import "../../styles/colours.scss";

.back-button {
    display: flex;

    margin-bottom: 20px;

    a {
        min-height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        box-shadow: 0px 4px 4px rgba(36, 59, 113, 0.5);
        border-radius: 20px;
        background-color: $background-blue;
        color: $white;

        img {
            filter: invert(95%) sepia(95%) saturate(21%) hue-rotate(15deg) brightness(105%) contrast(105%);
            margin-right: 10px;
        }
    }
}
