@import "../../styles/colours.scss";

.course {
    .course-description {
        margin-bottom: 22px;
    }

    .course-sessions {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        .course-session {
            display: flex;
            flex: 1;
            flex-direction: row;
            padding: 34px 68px;
            color: $black;

            .course-session-title {
                display: flex;
                flex: 1;
                height: 20px;
            }

            &.alternate {
                background-color: $background-grey;
            }

            &:first-child {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }

            &:last-child {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }
    }

    .course-worry-diary {
        display:flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 37px;
    }

    .course-start-button {
        justify-self: flex-end;
    }
}
