@import "../../styles/colours.scss";

.course {
    h2 {
        text-align: center;
    }

    .course-description {
        margin-bottom: 22px;
    }

    .course-sessions {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        .course-session {
            display: flex;
            flex: 1;
            flex-direction: row;
            padding: 34px 68px;
            color: $black;
            border-bottom: 1px solid $background-grey;

            .course-session-title {
                display: flex;
                flex: 1;
                height: 20px;
                font-weight: bold;
            }

            &.alternate {
                background-color: $background-grey;
            }

            &:last-child {
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                border-bottom: 0;
            }

            &:first-of-type {
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
            }

            &.expanded {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                border-bottom: 1px solid $background-grey;
            }
        }

        [class~="course-session"] {
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom: 0;
        }

        .course-session-steps {
            .course-session-step {
                display: flex;
                flex-direction: row;
                align-items: center;

                padding-left: 70px;
                padding-top: 10px;
                padding-bottom: 10px;

                .course-session-step-title {
                    flex: 1;
                }

                img {
                    margin-right: 50px;
                }

                &.completed {
                    color: $dark-grey;
                }
            }
        }
    }

    .course-worry-diary {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 37px;
    }

    .course-start-button {
        justify-self: flex-end;
    }
}
