@import "./styles/colours.scss";

@font-face {
  font-family: "SmallTown";
  src: local("SmallTown"), url("./styles/fonts/KGSmallTownSouthernGirl.ttf") format("truetype");
}

@font-face {
  font-family: "StreetCornerBold";
  src: local("StreetCornerBold"), url("./styles/fonts/street-corner/Street-Corner-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "StreetCorner";
  src: local("StreetCorner"), url("./styles/fonts/street-corner/Street-Corner.ttf") format("truetype");
}

html,
body,
#root {
  height: 100%;
  background-color: $background-white;
}

body {
  margin: 0;
  font-family: StreetCorner, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}

h1, h2, h3, h4 {
  margin-bottom: 30px;
}

h1 {
  font-family: SmallTown;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;

  color: $black;
}

h2 {
  font-family: StreetCornerBold;
  font-style: normal;
  font-size: 30px;
  line-height: 29px;
}

h3 {
  font-family: StreetCornerBold;
  font-style: normal;
  font-size: 25px;
  line-height: 26px;
}
